@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Share+Tech&display=swap');

:root{
--azul: #219ebcff;
--azul-forte: #023047ff;
--amarelo: #ffb703ff;
--laranja: #fb8500ff;
--titulo: "Bitcount Prop Double Ink", system-ui;
--texto: "Share Tech", sans-serif;
}

body{
    background-color: var(--azul);
    font-family: var(--texto);
}