@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --verde-azulado: #219ebcff;
    --azul: #023047ff;
    --amarelo: #ffb703ff;
    --laranja: #fb8500ff;
    --titulo: "Bebas Neue", sans-serif;
    --texto: "Raleway", sans-serif;
}
body{
    background-color: var(--verde-azulado);
    font-family: var(--texto);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}
button{
    font-family: var(--titulo);
    background-color: var(--azul);
    color: var(--laranja);
    border: 2px solid var(--azul);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}
button:hover{
    background-color: var(--laranja);
    color: var(--azul);
    transition: 0.5s;
}

.passo{
    font-size: 24px;
    display: none;
}

.passo.ativo{
    display: block;
}

img{
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}